html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #09043c;
  font: 14px OpenSans, Arial, Helvetica, sans-serif;
}

* {
  user-select: none;
}
.tt_main_container {
  padding: 20px;
}

.team-interactions .icon {
  width: 60px;
  height: 60px;
}
.team-types .icon {
  width: 48px;
  height: 48px;
}
.small-tooltip {
  color: #8e8e8e;
  margin-top: 20px;
}
.learn-more-link {
  text-align: right;
  margin-top: 20px;
}

#content-panel-react-app {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: normal;
  box-sizing: border-box;
}

.team-types,
.team-interactions {
  display: flex;
  justify-content: space-around;
  align-items: normal;
}

.draggable-team {
  cursor: pointer;
  font-size: 18px;
  font-family: sans-serif;
}
.draggable-team icon:hover {
  width: 55px;
  height: 55px;
}
