html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h3 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

* {
  user-select: none;
}
.tt_main_container {
  padding: 20px;
}

.team-interactions svg.icon {
  width: 40px;
  height: 40px;
}
.team-types svg.icon {
  width: 34px;
  height: 34px;
}

svg.icon {
  display: block;
  padding: 5px;
}

.icon:hover {
  background-color: #f5f5f7;
}

.small-tooltip {
  color: #8e8e8e;
  margin-top: 20px;
}
.learn-more-link {
  text-align: right;
  margin-top: 10px;
}

#content-panel-react-app {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: normal;
  box-sizing: border-box;
}

.team-types,
.team-interactions {
  display: flex;
  justify-content: space-around;
  align-items: normal;
}

.draggable-team {
  cursor: pointer;
}
