@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,700&display=swap');

:root {
  /* Color variables */
  --blue100: rgba(244, 246, 255, 1);
  --blue200: rgba(240, 242, 255, 1);
  --blue300: rgba(232, 236, 255, 1);
  --blue400: rgba(217, 224, 255, 1);
  --blue500: rgba(179, 192, 255, 1);
  --blue600: rgba(104, 129, 255, 1);
  --blue700: rgba(66, 98, 255, 1);
  --blue800: rgba(69, 91, 237, 1);
  --blue900: rgba(61, 81, 212, 1);
  --indigo100: rgba(240, 240, 243, 1);
  --indigo200: rgba(235, 235, 239, 1);
  --indigo300: rgba(225, 224, 231, 1);
  --indigo400: rgba(205, 204, 215, 1);
  --indigo500: rgba(155, 153, 175, 1);
  --indigo600: rgba(95, 92, 128, 1);
  --indigo700: rgba(5, 0, 56, 1);
  --indigoAlpha80: rgba(5, 0, 56, 0.8);
  --indigoAlpha40: rgba(5, 0, 56, 0.4);
  --indigoAlpha20: rgba(5, 0, 56, 0.2);
  --indigoAlpha12: rgba(5, 0, 56, 0.12);
  --indigoAlpha8: rgba(5, 0, 56, 0.08);
  --indigoAlpha6: rgba(5, 0, 56, 0.06);
  --indigoAlpha4: rgba(5, 0, 56, 0.04);
  --green700: rgba(119, 204, 102, 1);
  --black: rgba(9, 9, 9, 1);
  --blackAlpha80: rgba(9, 9, 9, 0.8);
  --blackAlpha40: rgba(9, 9, 9, 0.4);
  --white: rgba(255, 255, 255, 1);
  --red50: rgba(254, 247, 247, 1);
  --red100: rgba(253, 242, 242, 1);
  --red400: rgba(247, 212, 212, 1);
  --red600: rgba(225, 84, 84, 1);
  --red700: rgba(217, 41, 41, 1);
  --red800: rgba(199, 20, 20, 1);
  --red900: rgba(184, 13, 13, 1);
  --yellow100: rgba(255, 252, 243, 1);
  --yellow400: rgba(255, 246, 213, 1);
  --yellow700: rgba(255, 208, 47, 1);
  --brandBlue700: rgba(63, 83, 217, 1);
  --brandIndigo700: rgba(5, 0, 56, 1);
  --brandPink700: rgba(255, 101, 117, 1);
  --brandLightPink700: rgba(255, 191, 191, 1);
  --brandYellow700: rgba(255, 208, 47, 1);
  --whiteAlpha80: rgba(255, 255, 255, 0.8);
  --whiteAlpha40: rgba(255, 255, 255, 0.4);
  --whiteAlpha20: rgba(255, 255, 255, 0.2);
  --indigo50: rgba(245, 245, 247, 1);

  /* Font family variables */
  --header-font: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  --body-font: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;

  /* Font weight variables */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-black: 800;

  /* Font sizes variables */
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 24px;
  --font-size-xxxlarge: 28px;

  /* Border radius variables */
  --border-radius-small: calc(var(--border-radius-large) / 4);
  --border-radius-medium: calc(var(--border-radius-large) / 2);
  --border-radius-large: 8px;
  --border-radius-xlarge: calc(var(--border-radius-large) * 2);
  --border-radius-xxlarge: calc(var(--border-radius-large) * 4);
  --border-radius-circle: calc(var(--border-radius-large) * 16);

  /* Space & Size variables */
  --space-xxxsmall: calc(var(--space-xsmall) / 4);
  --space-xxsmall: calc(var(--space-xsmall) / 2);
  --space-xsmall: 8px;
  --space-small: calc(var(--space-xsmall) * 2);
  --space-medium: calc(var(--space-xsmall) * 3);
  --space-large: calc(var(--space-xsmall) * 4);
  --space-xlarge: calc(var(--space-xsmall) * 5);
  --space-xxlarge: calc(var(--space-xsmall) * 6);
  --space-xxxlarge: calc(var(--space-xsmall) * 8);
}

/* Normalizer */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgba(5, 0, 56, 1);
  color: var(--indigo700);
  background-color: rgba(255, 255, 255, 1);
  background-color: var(--white);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-family: var(--body-font);
}

/*Typography*/

h1,
.h1 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 28px;
  font-size: var(--font-size-xxxlarge);
  line-height: 36px;
  font-weight: 600;
  font-weight: var(--font-weight-bold);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-family: var(--header-font);
}

h2,
.h2 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 24px;
  font-size: var(--font-size-xxlarge);
  line-height: 32px;
  font-weight: 600;
  font-weight: var(--font-weight-bold);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-family: var(--header-font);
}

h3,
.h3 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 20px;
  font-size: var(--font-size-xlarge);
  line-height: 28px;
  font-weight: 500;
  font-weight: var(--font-weight-medium);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-family: var(--header-font);
}

h4,
.h4 {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 16px;
  font-size: var(--font-size-large);
  line-height: 24px;
  font-weight: 500;
  font-weight: var(--font-weight-medium);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-family: var(--header-font);
}

p {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 14px;
  font-size: var(--font-size-medium);
  line-height: 20px;
  font-weight: 400;
  font-weight: var(--font-weight-normal);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-family: var(--body-font);
}

.p-small {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 12px;
  font-size: var(--font-size-small);
  line-height: 18px;
  font-weight: 400;
  font-weight: var(--font-weight-normal);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-family: var(--body-font);
}

/* Status */

.success div.status-text {
  margin-top: calc(8px / 2);
  margin-top: var(--space-xxsmall);
  font-size: 12px;
  font-size: var(--font-size-small);
  color: rgba(119, 204, 102, 1);
  color: var(--green700);
}

.success input.input {
  border-color: rgba(119, 204, 102, 1);
  border-color: var(--green700);
}

.error div.status-text {
  margin-top: calc(8px / 2);
  margin-top: var(--space-xxsmall);
  font-size: 12px;
  font-size: var(--font-size-small);
  color: rgba(217, 41, 41, 1);
  color: var(--red700);
}

.error .input {
  border-color: rgba(217, 41, 41, 1);
  border-color: var(--red700);
}

/* Link */

.link {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid;
  transition: border 250ms, color 250ms;
  cursor: pointer;
  font-size: 14px;
  font-size: var(--font-size-medium);
}

.link.link-primary {
  color: rgba(66, 98, 255, 1);
  color: var(--blue700);
  border-bottom-color: rgba(217, 224, 255, 1);
  border-bottom-color: var(--blue400);
}

.link.link-primary:hover {
  color: rgba(69, 91, 237, 1);
  color: var(--blue800);
  border-bottom-color: currentColor;
}

.link.link-primary:active {
  color: rgba(61, 81, 212, 1);
  color: var(--blue900);
  border-bottom-color: currentColor;
}

.link.link-primary-light {
  color: rgba(104, 129, 255, 1);
  color: var(--blue600);
  border-bottom-color: rgba(104, 129, 255, 1);
  border-bottom-color: var(--blue600);
  border-bottom-color: rgba(217, 224, 255, 1);
  border-bottom-color: var(--blue400);
}

.link.link-primary-light:hover {
  color: rgba(104, 129, 255, 1);
  color: var(--blue600);
  border-bottom-color: currentColor;
}

.link.link-primary-light:active {
  color: rgba(104, 129, 255, 1);
  color: var(--blue600);
  border-bottom-color: currentColor;
}

.link.link-danger {
  color: rgba(217, 41, 41, 1);
  color: var(--red700);
  border-bottom-color: rgba(225, 84, 84, 1);
  border-bottom-color: var(--red600);
}

.link.link-danger:hover {
  color: rgba(199, 20, 20, 1);
  color: var(--red800);
  border-bottom-color: currentColor;
}

.link.link-danger:active {
  color: rgba(184, 13, 13, 1);
  color: var(--red900);
  border-bottom-color: currentColor;
}

.link.link-text {
  color: rgba(5, 0, 56, 1);
  color: var(--indigo700);
  border-bottom-color: rgba(95, 92, 128, 1);
  border-bottom-color: var(--indigo600);
}

.link.link-text:hover {
  color: rgba(5, 0, 56, 1);
  color: var(--indigo700);
  border-bottom-color: currentColor;
}

.link.link-text:active {
  color: rgba(5, 0, 56, 1);
  color: var(--indigo700);
  border-bottom-color: currentColor;
}

/*Separator hr*/

hr,
.hr {
  margin: calc(8px * 3) 0;
  margin: var(--space-medium) 0;
  border: 1px solid rgba(235, 235, 239, 1);
  border: 1px solid var(--indigo200);
}

/* Label */

.label {
  display: inline-block;
  height: 16px;
  padding: 0 calc(8px / 2);
  padding: 0 var(--space-xxsmall);
  line-height: 16px;
  border-radius: calc(8px / 4);
  border-radius: var(--border-radius-small);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  font-weight: var(--font-weight-bold);
}

/* Status Modificators */

.label-info {
  color: rgba(255, 255, 255, 1);
  color: var(--white);
  background-color: rgba(66, 98, 255, 1);
  background-color: var(--blue700);
}

.label-warning {
  color: rgba(5, 0, 56, 1);
  color: var(--indigo700);
  background-color: rgba(255, 208, 47, 1);
  background-color: var(--yellow700);
}
